@charset "UTF-8"; 

@media only screen and (max-width: 600px) {



    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .text-content {
        display: flex; 
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        padding: 0;
        
        }   

        .text-content, h1 h2 {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            text-align: center;
            padding: 0;
            position: relative;
            left: 10px;
        }

        .text-content h2 {
            margin-top: 30px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            height: 500px;
            position: relative;
            left: 10px;
            bottom: 25px;
            background-color: rgba(255, 228, 181, 0.808);
            padding: 0;
            margin: 0;
            
        }

        #separation {
            text-align: center;
            font-size: 1em;
        }

        #itens {
            display: flex;
            flex-direction: column;
            height: 1100px;
           
        }

        .img01  {
            width: 300px;
            height: 300px;  
        }

        .img02  {
            width: 300px;
            height: 300px;  
        }

        .img03  {
            width: 300px;
            height: 300px;  
        }

        .dark-img {
            display: flex;
            flex-direction: column;
            padding: 0;
            
        }

        .location {
            display: flex;
            flex-direction: column;
        }

        .location i {
            position: relative;
            right: 25px;
            top: 20px;   
        }

        .location p {
            position: relative;
            top: 20px;
            left: 10px;
            font-size: 1.3em;
        }

        .main-text, h2 {
            width: 100%;
            position: relative;
            bottom: 50px;     
            font-size: 0.5em;
            text-align: center;
        }

        .main-text p {
            font-size: 0.8;
            width: 400px;
            position: relative;
            bottom: 50px;
            left: 20px;
            margin-top: 10px; 
        }

        #box-content  {
            display: flex;
            flex-direction: column;
        }

        .box01 ul li {
            position: relative;
            left: 50%;
        }

        .box01 h3 {
            position: relative;
            left: 33%;
        }

        .box-img {
            position: relative;
            left: 110px;
            margin-top: 20px;
            width: 500px;
            margin: 0;
            
            
        }

        .box-img02 {
            position: relative;
            left: 100px;
            width: 568px;
            margin: 0;
            
        }

        .box02 h1 {
            padding: 0;
            position: relative;
            left: 40px;
        }

        .box-img03 {
            position: relative;
            width: 568px;
        }

        .box-img04 {
            position: relative;
            max-width: 568px;
        }

        #footer {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 100%;
           
        }

       .back-home {
        position: relative;
        left: 0;
        right: 23px;
        margin-top: 50px;
       }

        

        
        
}