@charset "UTF-8"; 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

:root {
    --color01: #3a5a40; 
    --color02: #588157;
    --color03: #606c38;
    --color04: #eff6e0;
    --color05: #132a13;
    --color06: #f8f9fa;
    --color07: #353535;
   
}



#header {
    width: 100% ;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.itens ul {
    display: flex;
    gap: 50px;  
    list-style: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    color: #353535;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.itens li {
    padding: 5px;
    background-color: #c5c5c5;
    border-radius: 10px;
}

.itens li:hover {
    background-color: transparent;
}



#container-intro {
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;    
    padding-top: 100px;
    background-color:#f8f9fa;
   
}

.content  {
    display: flex;
    width: 1200px;
    height: 500px;
    border-radius: 20px;
    
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-right: 50px;
}

.description h1  {
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    color:#132a13;
    text-transform: uppercase;
    
}

.description p {
    color: #353535;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.2rem;
}

button {
    width: 150px;
    padding: 10px;
    background-color: #43c941;
    border: 0;
    color: #eff6e0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    font-weight: bold;
    cursor: pointer;   
}

button:hover {
    color: #eff6e0;
    cursor: pointer;
    background-color:#588157;
   
}

.flex-img {
    width: 50%;
    height: 500px;
    background: url(img/vista-frontal-de-um-homem-andando-de-bicicleta-na-montanha.jpg);
    background-size: cover;
    background-position: top center;
    border-radius: 20px;
}


.midia {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;

}

.midia img {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 493px;
    right: 30px;
   
}

#container-photos {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
   
}

.legend {
    width: 100%;
    max-height: 300px;
    display: flex;
    justify-content: center;
   
}

.legend h1 {
    font-size: 3.5em;
    font-family: 'Oswald', sans-serif;
    color:#132a13;
}

.photos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
}

.ph1 img, .ph2 img, .ph3 img, .ph4 img   {
    width: 400px;
    height: 600px;
    background-size: cover;
}

.ph2 img, .ph4 img {
    position: relative;
    top: 20%;
}

#session {
    width: 100%;
    height: 2000;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.144);
    justify-content: center;
    align-items: center;
}

.box {
    width: 1200px;
    height: 800px;
    background: url(img/jovem-adulto-usando-bicicleta-eletrica-no-interior.jpg);
    background-size: cover;
    margin-top: 100px;
}


.box02 {
    width: 1200px;
    height: 400px;
    display: flex;
    background-color: #e7e7e7;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 50%;
    font-size: 1.81rem;
    color: #606c38;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}

.text02 {
    font-size: 1.13em;
    font-family: 'Oswald', sans-serif;
    color: #606c38;
}