@charset "UTF-8";  

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

/* font-family: 'Lalezar', cursive; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: white;
    
}

.logo {
   background: url(imagens/logo-delmiro-3\ -\ Copia\ \(2\).JPG);
   background-size: cover;
   width: 150px;
   height: 150px;
   
}

.itens-header {
    display: flex;
    font-family: 'Lalezar', cursive;
    font-size: 1.2em;
    color: black;
}

.itens {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;  
}



.itens li:hover {
    opacity: 1;
    background-color: rgb(158, 158, 158);
    border-radius: 20px;
    cursor: pointer;    
}

#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
   
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
   
}

.content-text h1 {
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 1.4em;
}

.content-text h2 {
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 3em;
    background-color: black;
    color: white;
    padding: 0.5em;
}

.content-text > p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    max-width: 400px; 
    padding-top: 50px;
    
    
}

.icons {
    display: flex;
    padding-top: 80px;
    display: flex;
    gap: 30px;
    margin-left: 150px;
    font-size: 1.5em;
    padding-right: 135px;
          
}

.icons a {
    font-size: 2em; 
    color: black;
    
   
}

.icons p  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lalezar', cursive;
    font-size: 0.8em;
    
}



.content-img {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: url(imagens/IMG_1694.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

